# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.gradle/
# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/main/java/me/xap3y/DungeonKicker/Data.java
src/main/java/me/xap3y/DungeonKicker/Profile.java
src/main/java/me/xap3y/DungeonKicker/ObjectType.java
src/main/java/me/xap3y/DungeonKicker/HttpGetNW.java
src/main/java/me/xap3y/DungeonKicker/Networth.java